/**PARA PODER REALIZAR EL MODELO RESPONSIVO *** BORRAR CUANDO HAGA FALTA**/


.box-img{
    width: 50%;
    height: 400px;
}


/****/

.container{
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.box-container{
    width: 55%;
    height: calc(100vh - 50px);
    position: sticky;
    top: 50px;
    bottom: 0;

}

.box-nav{
    margin: 20px auto;
    width: 95%;
    height: 50px;
    background: var(--first-color);
    display: flex;
    align-items: center;

}

.box-button{
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
}

.box-content{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.box-img{
    padding: 3px;
}

.box-text{
    margin: 0 20px;
    color: #fff; 
}

.box-text h2{
    margin-bottom: 20px;
}

.box-text p{
    white-space: pre-line;
}

.comments-container{
    min-height: calc(100vh - 50px);
    width: 45%;
    background: var(--third-color);
}

@media screen and (max-width : 800px){
    
    .container{
        flex-direction: column;
    }

    .box-container{
        width: 100%;
        min-height: 100vh ;
        position: static;
    }

    .comments-container{
        width: 100%;
    }

}

@media screen and (max-width : 600px){
    .box-content{
        flex-direction: column;
    }

    .box-text,
    .box-img{
        width: 100%;
    }


}